<!DOCTYPE html>
<html>
  <head>
    <title>{{movie}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon-32x32.jpg') }}"
    />
  </head>

  <body>
    <header>
      <div class="logo">
        <a id="logo" href="#home"
          ><img
            src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true"
            alt="Logo Image"
        /></a>
      </div>
      <nav class="sub-nav">
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-bell"></i></a>
        <a href="#">Account</a>
      </nav>
    </header>
    <div class="container">
      <div class="box">
        <div class="icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="content">
          <h3>Search</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-play" aria-hidden="true"></i></div>
        <div class="content">
          <h3>Search</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
        <div class="content">
          <h3>Search</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
        <div class="content">
          <h3>Search</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
