[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
jwt = "*"
flask-restful = "*"
flask-pymongo = "*"
werkzeug = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
